.App {
  background-color: #232227;
  text-align: center;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
